<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418257830766-v6ot65tibpmfdtc160tqrc87kndcoted.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418257830766-v6ot65tibpmfdtc160tqrc87kndcoted</string>
	<key>API_KEY</key>
	<string>AIzaSyCvQ0rWMctgjYrnWJ4cyo_rhqlM1mYqnUw</string>
	<key>GCM_SENDER_ID</key>
	<string>418257830766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.georgemanayath.TicTacToe</string>
	<key>PROJECT_ID</key>
	<string>tictactoe-4de22</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoe-4de22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418257830766:ios:3b14b763f0efbcc4</string>
	<key>DATABASE_URL</key>
	<string>https://tictactoe-4de22.firebaseio.com</string>
</dict>
</plist>